body {
   width: 800px;
   margin: 0 auto;
 }
 .main {
   border: 1px solid rgb(119, 0, 255);
 
   max-width: 800px;
   position: relative;
 }
 .title {
   background: rgb(31, 40, 119);
   padding-top: 70px;
   padding-bottom: 70px;
   text-align: center;
   border-radius: 10px;
 }
 .fixed {
   position: fixed;
   top: 10px;
   transform: translateX(100%);
   border: 3px solid green;
   background-color: white;
   width: 100px;
   z-index: 10000000;
   border-radius: 10px;
 }
 .fixed p:hover::before {
   content: "tetetetetetete";
 }
 
 .title h1 {
   color: rgba(255, 255, 255, 0.753);
   font-size: 40px;
   text-shadow: 5px 5px 3px rgb(240, 8, 46);
   
 }
 .title h1::before {
   content: "the_";
 }
 .title h1::after {
   content: "_site";
 }
 .parent {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
 }
 
 .div1 {
   grid-area: 1 / 1 / 2 / 2;
 }
 .div2 {
   grid-area: 1 / 2 / 2 / 3;
 }
 .div3 {
   grid-area: 2 / 1 / 3 / 2;
 }
 .div4 {
   grid-area: 2 / 2 / 3 / 3;
 }
 .div5 {
   grid-area: 1 / 3 / 3 / 4;
   padding-top: 150px;
   box-shadow: 0 0 80px rgba(201, 126, 22, 0.8) inset;
   border-radius: 10px;
 }
 
 .div5 p {
   writing-mode: vertical-rl;
   margin: 0 auto;
   font-size: 30px;
   
 }
 
 img {
   display: block;
   max-width: 300px;
 }
 .div1 img:hover,
 .div2 img:hover,
 .div3 img:hover,
 .div4 img:hover,
 .div5 img:hover {
   transform: scale(1.2);
   transition: 1s;
 }
 
 .text {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 0px;
   grid-row-gap: 0px;
 }
 
 .div11 {
   grid-area: 1 / 1 / 2 / 2;
   max-height: 300px;
   overflow: auto;
 }
 .div22 {
   grid-area: 1 / 2 / 2 / 3;
   max-height: 300px;
   overflow: auto;
 }
 .div33 {
   grid-area: 1 / 3 / 2 / 4;
   max-height: 300px;
   overflow: auto;
 }
 .footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color:rgb(31, 40, 119);
   color: aliceblue;
 }
 .footer h1 {
   margin: 0;
   color: aliceblue;
 }
 .nav {
   display: flex;
   flex-direction: row;
   width: 200px;
   justify-content: space-between;
   color: aliceblue;
 }
 .input-block {
   text-align: center;
 }
 .input-block h3 {
   margin: 0;
 }
 .input-block input {
   padding: 5px;
 }
 .nav p:hover {
   color: red;
 }
 @media (max-width: 768px) {
   .div5 p {
     writing-mode: horizontal-tb;
     margin: 0 auto;
     font-size: 30px;
   }
   .parent {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: repeat(5, 1fr);
     grid-column-gap: 0px;
     grid-row-gap: 0px;
   }
 
   .div1 {
     grid-area: 1;
     width: 100%;
   }
   img {
     max-width: 100%;
   }
   .div2 {
     grid-area: 2;
     width: 100%;
   }
   .div3 {
     grid-area: 3;
     width: 100%;
   }
   .div4 {
     grid-area: 4;
     width: 100%;
   }
   .div5 {
     grid-area: 5;
     width: 100%;
 
     padding-top: 150px;
     box-shadow: 0 0 80px rgba(201, 126, 22, 0.8) inset;
   }
 
   .text {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: repeat(3, 1fr);
     grid-column-gap: 0px;
     grid-row-gap: 0px;
   }
 
   .div11 {
     grid-area: 1;
     max-height: 300px;
     overflow: auto;
   }
   .div22 {
     grid-area: 2;
     max-height: 300px;
     overflow: auto;
   }
   .div33 {
     grid-area: 3;
     max-height: 300px;
     overflow: auto;
   }
 }
 